@(
message: String,
abonnements: List[models.Abonnement],
abonnés: List[models.Abonnement],
userconnect :Utilisateur
)
@main("Gestion des comptes",userconnect) {
	    
      <!--  Formulaire des Tweets-->
	<fieldset>
		<h2> @message </h2>
		<table class="table table-striped">
        
                <tr>
                        <td>Adresse Email</td>
                </tr>
                
                	@if(abonnements !=null){
                	
                	 	@for((abonnement, i) <- abonnements.zipWithIndex.reverse) {
                
                		<tr>
		                        <td><a href='@routes.Perso.index(abonnement.username_ajout)'>@abonnement.username_ajout</a></td>
		
		                </tr>
		                }  		 		
   					} else {
                  		@for((abonne, i) <- abonnés.zipWithIndex.reverse) {
						<tr>
			                        <td><a href='@routes.Perso.index(abonne.user.username)'>@abonne.user.username</a></td>			
			    		</tr>
			    }
			    }
			    
	</table>
	             	 
		  }
