@main("Accueil",null) {
<div id="logo_nav">
    <div class="bg1">
      <div class="center_frame"> 
        <!--Logo And Navigation Start Here-->
        <div class="logo"> <a href="@routes.Application.index()"><img src="@routes.Assets.at("bootstrap/img/logo.png")" alt=""  /></a> </div>

        <!--Logo And Navigation End Here--> 
        <!--slider here-->
        
        <!--  Outer wrapper for presentation only, this can be anything you like -->
        <div id="banner"> 
          <!-- start Basic Jquery Slider -->
          <ul class="bjqs">
            
            <li>
              <h1>Projet Tweety</h1><br/>
              
              <p>Développé avec Play framework.</span></p>
              <label><a href="#" class="pap"></a></label>
            </li>
            
            <li>
              <h1>Master 2 IPS</h1>
              <p>Projet Technologie du web.</span></p>
              <label><a href="#" class="pap"></a></label>
            </li>
            
            <li>
              <h1>Les membres:</h1><br/>
              <b><p>      </p></b>
              <b><p>      </p></b>
             <b><p>DIOP Baidy</p></b>
              <b><p>IGHACHANE Mohammed</p></b>
              <b><p>JIN Yuzhu</p></b>
              <b><p>LEI Cheng</p></b>
              <label><a href="#" class="pap"></a></label>
            </li>
            
          </ul>
          <!-- end Basic jQuery Slider --> 
        </div>
        <!-- End outer wrapper --> 
        
        <!--slider end here--> 
        
      </div>
    </div>
  </div>
</div>
<!--Header End Here--> 
}