@(
message: String,
utilisateur: Utilisateur,
utilisa : Utilisateur,
userconnect :Utilisateur
)
<!-- index "appelle" main en lui passant en paramètre le titre de la page et le contenu HTML -->

@main("Gestion des comptes", userconnect) {


<div id="logo_nav">
    <div class="bg1">
      <div class="center_frame"> 
        <!--Logo And Navigation Start Here-->
        <div class="logo"> <img src="@routes.Assets.at("bootstrap/img/logo.png")" alt=""  /> </div>
        @if(utilisateur != null){
        <ul id="navigation">
          <li><a href="@routes.Pageperso.index(userconnect.username)"><span>HOME</span></a></li>
         <li><a href="@routes.Perso.index(userconnect.username)"><span>Ma page</span></a></li>
          <li><a href="@routes.Abonnements.abonnement(userconnect.username)"><span>Mes Amis</span></a></li>
          <li><a href="@routes.Abonnements.abonne(userconnect.username)"><span>Mes Abonnés</span></a></li>
          <li><a href="@routes.Profil.contact()"><span>Contact</span></a></li>
        </ul>
        }
        <!--Logo And Navigation End Here--> 
        <!--slider here-->
        
        <!--  Outer wrapper for presentation only, this can be anything you like -->
        <div id="infoPerson"> 
			<table>
			@if(utilisa.images!=null){
					<tr><td width="100" height="100" ><img src="@routes.Pageperso.getImage(utilisa.images.idimage)" alt="" title="" width="100" height="100"/></td></tr>
			}else{
					@if(utilisa.sexe.equals("female")){
							<tr><td width="100" height="100" ><img src="@routes.Assets.at("bootstrap/img/aa.jpeg")" alt=""  width="100" height="100"/></td></tr>
					}else{
							<tr><td width="100" height="100" ><img src="@routes.Assets.at("bootstrap/img/aaa.jpeg")" alt=""  width="100" height="100"/></td></tr>
							}
						
			}
			<tr><td id="name_bien">@message</td></tr>
			</table>
        </div>
        <!-- End outer wrapper --> 
        
        <!--slider end here--> 
        
      </div>
    </div>
  </div>

<!--Header End Here--> 
  <!--Main Contant Start Here-->
  
  <div id="content">
<div id="main_contant">
    <div class="center_frame">
      <h2>Les utilisateurs </h2>
      
			<div class="box_2"> 
				<div class="text">
				  	 <table class="table-striped">
						<tr>
								<th>Adresse Email</th>
								<th>Username</th>
						</tr>
						@if(utilisa != null){
								<tr>
										<td>@utilisa.email</td>
										<td>@utilisa.username</td>				
								</tr>										
					   } else {
								<tr>
											<td><a href='@routes.Perso.index(utilisateur.username)'>@utilisateur.email</a></td>
											<td>@utilisateur.username</td>					
								</tr>
						}			    
					</table>
          
				</div>         
			</div> 
	</div>
</div>
</div>
<!-- Main Contant End Here -->

<!--Wrapper End Here--><div id="footer">
 
  <div id="copyrights">
    <div><p>Projet Tweety</p></div>
  </div>
					</div>







     @if(flash.containsKey("error")) {
        <div class="alert alert-error"> <!-- ceci est un style twitter bootstrap -->
            <strong>Oups!</strong> @flash.get("error")
        </div>
    }
       

}

