@(
message: String,
abonnements: List[models.Abonnement],
abonnés: List[models.Abonnement],
userconnect :Utilisateur,
profutilisateur: Utilisateur
)
@main("Gestion des comptes",userconnect) {
<div id="logo_nav">
    <div class="bg1">
      <div class="center_frame"> 
        <!--Logo And Navigation Start Here-->
        <div class="logo"> <img src="@routes.Assets.at("bootstrap/img/logo.png")" alt=""  /> </div>
        @if(userconnect != null){
        <ul id="navigation">
          <li><a href="@routes.Pageperso.index(userconnect.username)"><span>HOME</span></a></li>
		  @if(userconnect.username==profutilisateur.username){
         <li><a href="@routes.Perso.index(userconnect.username)"><span>Ma page</span></a></li>
          <li><a href="@routes.Abonnements.abonnement(userconnect.username)"><span>Mes Amis</span></a></li>
          <li><a href="@routes.Abonnements.abonne(userconnect.username)"><span>Mes Abonnes</span></a></li>
		  }else{
		  <li><a href="@routes.Perso.index(profutilisateur.username)"><span>Sa page</span></a></li>
          <li><a href="@routes.Abonnements.abonnement(profutilisateur.username)"><span>Ses Amis</span></a></li>
          <li><a href="@routes.Abonnements.abonne(profutilisateur.username)"><span>Ses Abonnes</span></a></li>
		  }
          <li><a href="@routes.Profil.contact()"><span>Contact</span></a></li>
        </ul>
        }
        <!--Logo And Navigation End Here--> 
        <!--slider here-->
        
        <!--  Outer wrapper for presentation only, this can be anything you like -->
        <div id="infoPerson"> 
			<table>
			<tr><td id="name_bien">@message de @profutilisateur.username</td></tr>
			<tr><td><img url=""></td></tr>
			<tr><td id="description">@userconnect.description</td></tr>
			</table>
        </div>
        <!-- End outer wrapper --> 
        
        <!--slider end here--> 
        
      </div>
    </div>
  </div>
</div>
<!--Header End Here--> 
 <!--Main Contant Start Here-->
<div id="main_contant">
    <div class="center_frame">
      <h2>@message </h2>
      
			<div class="box_2"> 
				<div class="text">
				  	 <table class="table-striped">
						<tr>
								<th>Username</th>
						</tr>
						@if(abonnements !=null){
                	
                	 	@for((abonnement, i) <- abonnements.zipWithIndex.reverse) {
                
							<tr>
									<td><a href='@routes.Perso.index(abonnement.username_ajout)'>@abonnement.username_ajout</a></td>
									
							</tr>
							}  		 		
						} else {
							@for((abonne, i) <- abonnés.zipWithIndex.reverse) {
							<tr>
										<td><a href='@routes.Perso.index(abonne.user.username)'>@abonne.user.username</a></td>			
							</tr>
							}
						}
					</table>
          
				</div>         
			</div> 
	</div>
</div>
<!-- Main Contant End Here -->
</div>
<!--Wrapper End Here--><div id="footer">
 
  <div id="copyrights">
    <div><p>Les nom de notre groupe et membre</p></div>
  </div>
</div>
</div>






     @if(flash.containsKey("error")) {
        <div class="alert alert-error"> <!-- ceci est un style twitter bootstrap -->
            <strong>Oups!</strong> @flash.get("error")
        </div>
    }
       

}

