@(title: String, utilisateur: Utilisateur)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link href="@routes.Assets.at("/bootstrap/css/style.css")" rel="stylesheet" type="text/css" />
        
		<!--[if IE 7]><link rel="stylesheet" media="all" type="text/css" href="bootstrap/css/ie7.css" />
		<![endif]-->
		<!--[if IE 8]><link rel="stylesheet" media="all" type="text/css" href="bootstrap/css/ie8.css" />
		<![endif]-->
		<link href="@routes.Assets.at("/bootstrap/fonts/stylesheet.css")" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="@routes.Assets.at("/bootstrap/css/jqury-ui.css")">
		<!--slidercss-->
		<link rel="stylesheet" href="@routes.Assets.at("/bootstrap/css/basic-jquery-slider.css")" />
		<script src="@routes.Assets.at("/bootstrap/js/jquery-1.6.2.min.js")" type="text/javascript"  language="javascript"></script>
		<script src="/assets/javascripts/jquery-1.7.1.min.js" type="text/javascript" language="javascript"></script> 
		<script src="@routes.Assets.at("javascripts/jquery-1.9.1.js")" type="text/javascript"></script> 
		 <script src="@routes.Assets.at("javascripts/jquery-ui.js")" type="text/javascript"></script> 
		<script src="@routes.Assets.at("/bootstrap/js/basic-jquery-slider.js")" type="text/javascript" language="javascript"></script>
		<script type="text/javascript" src="@routes.Assets.at("/bootstrap/js/custom.js")" language="javascript"></script>
		<script type="text/javascript" src="@routes.Assets.at("/bootstrap/js/input.js")" language="javascript"></script>
		<script type="text/javascript" src="/assets/javascripts/LoadMore.js"  language="javascript"></script> 
	
		<!--  Attach the plug-in to the slider parent element and adjust the settings as required -->
		<script  type="text/javascript" language="javascript">
		      $(document).ready(function() {
		        
		        $('#banner').bjqs({
		          'animation' : 'slide',
		          'width' : 960,
		          'height' : 450
		        });
		        
		      });
		    </script>
		<SCRIPT LANGUAGE="javascript">
		function controle(recherche) {
		var search = document.recherche.champ.value;
		location.href="/search/"+search;
		}
		</SCRIPT>  
		<script type="text/javascript" language="javascript">

			$(document).ready(function () {
			    $("#autocomp").autocomplete({
			        source: function(request,response) {
			            $.ajax({
			                url: "/search",
			                dataType: "json",
			                data: { term: request.term },
			                success: function (data) {
			                    response($.map(data, function (item) {
			                        return { label: item.username, value:item.username };
			                    }))
			                }
			            })
			        },
			    	messages: {
			        	noResults: "", results: ""
			    	}
			    });
			})
        </script>     
		<script type="text/javascript" src="bootstrap/js/pie.js" language="javascript"></script>
		<style type="text/css">
		ul.bjqs h1, ol.bjqs-markers li a {
			behavior: url("js/PIE.htc") !important;
		}
		</style>
    </head>
    <body>
    	<!--Header Start Here-->
    	<div id="canavas">
<div id="header">
  <div id="top_header">
    <div class="center_frame">
      <div class="top">
        @if(utilisateur != null){

          <div class="search">
		  <form name="recherche">
                    	<input type="text" name="champ" placeholder="Recherche" id="autocomp">               	
                    	<input type="button" id="chercher" onClick="controle(recherche)">
          </form>   
		  </div>


        <div class="login"><a href="@routes.Authentication.logout()" class="logout"></a></div>
        }else{
        <div class="login"> <a href="@routes.Authentication.login()" class="login_img">&nbsp;</a> <a href="@routes.Inscription.index()" class="register">&nbsp;</a> </div>
		}
      </div>
    </div>
  </div>
  </div>
  <!--Top Header End Here-->
  
@content
</div>
